header{
    width: 100vw;
    height: 10%;
    background-color :transparent;
    position: relative;
    animation: both 2s initHeader ease-out;
    box-shadow: none;
    align-content: center;
}
header > nav {
    padding: 20px;
    max-width: 1200px;
    min-width: 800px;
    display: flex;
    justify-content: space-around;

    font-size : 3em;
    color: white;
    font-variant: small-caps;
    position: absolute;
    bottom: 0;
}
header > nav >span {
    display: block;
    margin: 10px;
}
@keyframes initHeader{
    0%{
        position: relative;
        left: -120vw;
        box-shadow: none;
    }
    75%{
        position: relative;
        left: 0 ;
        box-shadow: none;
    }
    100%{
        box-shadow: 0px 4px  2px   rgba(235, 143, 4, 0.438),
        inset 0px -2px  2px rgba(235, 143, 4, 0.356);
    }
}