header{
    width: 100vw;
    height: 100px;
    
    /*background-image: url("./header.png") ;*/
    background-repeat: repeat-x;
    background-color :transparent;
    position: relative;
    animation: both 2s initHeader ease-out;
    box-shadow: none;
    align-content: center;
    padding-left: 50%;
    transition: all 1s ;
}
header > nav {
    padding: 20px;
    
    width: 25%;
    display: flex;
    justify-content: space-around;

    font-size : 3em;
    color: white;
    font-variant: small-caps;
    position: absolute;
    bottom: 0;
    transition: all 1s ;
}
header > nav >span {
    display: block;
    margin: 10px;
}
@media screen and ( max-width:1000px){
    header{
        width: 100vw;
        height: 100px;
        background-color :transparent;
        position: relative;
        animation: both 2s initHeader ease-out;
        box-shadow: none;
        align-content: center;
        padding-left: 30%;
        transition: all 1s ;
    }
    header > nav {
        padding: 20px;
        
        width: 25%;
        display: flex;
        justify-content: space-around;
    
        font-size : 1.5em;
        color: white;
        font-variant: small-caps;
        position: absolute;
        bottom: 0;
        transition: all 1s ;
    }

}
@keyframes initHeader{
    0%{
        position: relative;
        left: -120vw;
        box-shadow: none;
    }
    75%{
        position: relative;
        left: 0 ;
        box-shadow: none;
    }
    100%{
        box-shadow: 0px 4px  2px   rgba(235, 143, 4, 0.438),
        inset 0px -2px  2px rgba(235, 143, 4, 0.356);
    }
}